.leaflet-container{
    width: 100vw;
    height: 100vh;
}
.form-group, .row{
    padding: 0px 10px;
    display: grid;
}
#loginform > div:nth-child(2) > div > div > div{
    margin-bottom: 0px;
    text-align: center;
}
.alert-form-container{
    line-height: 5px;
    text-align: center;
}
.marginadoTop{
    margin-top: 15px;
}
.imgPreview{
    width: 70%;
    display: block;
    border: 2px solid black;
    border-radius: 15px;
    align-self: center;
}
.centrado{
justify-items: center;
}
.logoNav{
    height: 7vh;
}
.navSpace{
    width: 6vw;
}